RewriteEngine On
RewriteBase /
RewriteRule ^(static/.*)$ - [L]
RewriteRule ^(media/.*)$ - [L]
RewriteRule ^(admin_media/.*)$ - [L]
RewriteRule ^(geoffery/dispatch\.wsgi/.*)$ - [L]
RewriteRule ^(.*)$ geoffery/dispatch.wsgi/$1 [QSA,PT,L]
